body {
    font-family: Helvetica;
    line-height: 1.5;

    background-color:rgba(0, 0, 0, 0.944);
    color: antiquewhite;

    width: 980px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
  }